# NoneBot 基础配置
DRIVER=~aiohttp
HOST=127.0.0.1
PORT=8080
LOG_LEVEL=INFO
API_TIMEOUT=30.0
SUPERUSERS=["1234567890"]
NICKNAME=[]
COMMAND_START=[""]
COMMAND_SEP=["."]
SESSION_EXPIRE_TIMEOUT=00:02:00

# OneBot 配置
ONEBOT_ACCESS_TOKEN=
ONEBOT_SECRET=
ONEBOT_WS_URLS=["ws://127.0.0.1:3001"]

# 数据库配置
MONGO_URI='mongodb://127.0.0.1:27017'
MONGO_DB='aioBot'

# 大模型配置
BASE_URL='https://api.openai.com/v1'
API_KEY='sk-X'
SYSTEM_PROMPT='You are a smart assistant.'
SET_PROMPT_COST=1
MODELS='
{
    "gpt-4o-mini": {
        "name": "GPT-4o-mini",
        "input_cost": 0.11,
        "output_cost": 0.44,
        "context_length": 128000,
        "max_tokens": 16000,
        "detail": "OpenAI 最具性价比的模型"
    }
}
'

# 个人中心配置
DAILY_SIGN_MAX_COINS=50
DAILY_SIGN_MIN_COINS=1
REFRESH_PRICE=1
FORK_COST=1
RENEW_COST=1
TRUSTED_WIFE_SOURCE=["3003535850", "1297825911"]

# 超管配置
GRANT_COST=1
BIND_COST=1
CHARGE_MIN_PERM=1
# BiliBili 动态关注配置
FOCUS='
{
    "sessdata": "xxx",
    "subscribes": [
        {
            "uid": "457061412",
            "groups": ["1234567890"],
            "users": ["9876543210"]
        }
    ],
    "interval": {
        "hours": 1
    }
}
'