# 固定配置项，无需修改
DRIVER=~aiohttp
COMMAND_START=[""]

# OneBot Token，必须设置，可在 NapCat 面板中配置
ONEBOT_ACCESS_TOKEN="xxx"

# OneBot WebSocket 地址，必须设置，可在 NapCat 面板中查看
ONEBOT_WS_URLS=["ws://127.0.0.1:3001"]

# 超级用户账号列表，拥有管理员权限，可选配置
SUPERUSERS=["1234567890"]